@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *)); 

/*add here?*/
@layer utilities {
    @keyframes infinite-scroll {
  0% {
    transform: translateX(0%);
  }
100% {
    transform: translateX(10%); /*-10% to reverse */
  }
}



.animate-infinite-scroll {
  animation: infinite-scroll 20s linear infinite;
  will-change: transform;
  /*ios smoothing*/
  -webkit-transform: translateZ(0); /* Safari / iOS */
  transform: translateZ(0); /* Standard */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.animate-infinite-scroll:hover {
  animation-play-state: paused; /*delete if you don't want on-hover pause */
}
}

#root {
  overflow-x: hidden;
}