@import "tailwindcss";

/* @layer utilities { */
  /* @keyframes scroll {
    0% {
      transform: translateX(10%);
    }
    100% {
      transform: translateX(-10%);
    }
  }

  .animate-infinite-scroll {
    animation: scroll 20s linear infinite;
  }
} */

@layer utilities {
    @keyframes infinite-scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(20%); 
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 20s linear infinite;
}

}